In [26]:
import pandas as pd
import numpy as np

## 0. import data

In [27]:
# import imbd data
imdb = pd.read_csv("data/imbd_movies_with_rating.csv")
imdb.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,avrg_rating,num_votes
0,tt0016906,movie,Frivolinas,Frivolinas,0,2014,80.0,"Comedy,Musical",5.6,14.0
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118.0,"Comedy,Fantasy,Romance",6.4,75863.0
2,tt0064322,movie,The Woman with the Knife,La femme au couteau,0,2010,80.0,"Drama,Thriller",6.6,9.0
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122.0,Drama,6.9,5218.0
4,tt0069204,movie,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,NaN,"Comedy,Drama",6.1,14.0

In [28]:
#import boxoffice data
boxoffice = pd.read_csv("data/box_offices_mojo.csv")
boxoffice.head()

   Unnamed: 0                   Title  Year  Worldwide     Domestic
0           0  Mission: Impossible II  2000  546388105  215409889.0
1           1               Gladiator  2000  460583960  187705427.0
2           2               Cast Away  2000  429632142  233632142.0
3           3         What Women Want  2000  374111707  182811707.0
4           4                Dinosaur  2000  349822765  137748063.0

## 1. clean and rename

In [29]:
# delete unnamed column
boxoffice.drop(columns = "Unnamed: 0",inplace=True)

In [30]:
# rename columns
boxoffice.columns = ["title","year","worldwide","domestic"]

In [31]:
# clean and rename imdb
imdb.drop(columns = "originalTitle",inplace=True)
imdb.drop(columns = "titleType",inplace=True)
imdb.columns = ["imdb_id","title","isAdult","year","minutes","genres","imdb_av_rating","imdb_num_votes"]

## 2. check for different movies with same title

### 2.1 IMDB

In [32]:
# title duplicates
sum(imdb["title"].value_counts()[imdb["title"].value_counts() > 1])

30603

In [33]:
# duplicates for tile and year  
imdb["year_title"] = imdb["year"].astype(str).str.lower() + " " + imdb["title"].astype(str).str.lower()

# drop_duplicates
duplicate_year_title = list(imdb["year_title"].value_counts()[imdb["year_title"].value_counts() > 1].index)
imdb = imdb[~imdb["year_title"].isin(duplicate_year_title)]

len(duplicate_year_title)

2607

### 2.2 box office

In [34]:
# title duplicates
sum(boxoffice["title"].value_counts()[boxoffice["title"].value_counts() > 1])

392

In [35]:
# duplicates for tile and year  
boxoffice["year_title"] = boxoffice["year"].astype(str).str.lower() + " " + boxoffice["title"].astype(str).str.lower()

In [36]:
duplicate_year_title = list(boxoffice["year_title"].value_counts()[boxoffice["year_title"].value_counts() > 1].index)
boxoffice = boxoffice[~boxoffice["year_title"].isin(duplicate_year_title)]
#boxoffice.drop(columns = "year_title",inplace=True)

In [37]:
len(duplicate_year_title)

6

In [38]:
# restet indices
imdb.reset_index(inplace=True)
boxoffice.reset_index(inplace=True)

## 3. merging imdb and boxoffice

In [39]:
# merge
imdb_box = imdb.merge(boxoffice,on="year_title")
# rename and drop columns
imdb_box.drop(columns=["title_y","year_y"],inplace=True)
imdb_box.rename(columns = {"title_x":"title","year_x":"year"},inplace=True)
# save to csv
imdb_box.drop(columns = "year_title").to_csv("imdb_box_merge.csv")