## Web Scraping of the Box Offices Mojo Database provided from IMdB

https://www.boxofficemojo.com/year/world/2019/

Import the libraries:

In [1]:
import pandas as pd
import numpy as np
import re
import datetime
import requests
import bs4

Base and variable URL:

In [2]:
base = "https://www.boxofficemojo.com/year/world/"
years = [str(i)+"/" for i in range(2000,2020)]

Empty DataFrame:

In [3]:
df = pd.DataFrame(columns=["Title", "Year", "Worldwide", "Domestic"])

Scrap the data for the last 20 years (2000 - 2019):

In [4]:
for year in years:
    url = base + year
    r = requests.get(url)
    soup = bs4.BeautifulSoup(r.content, "html5lib")
    movies = soup.find("div", class_="a-section imdb-scroll-table-inner").find_all("tr")

    for movie in movies[1:]:
        title = str(movie.find("a", class_="a-link-normal").contents[0])
        worldwide = int(str(movie.find_all("td", class_="a-text-right mojo-field-type-money")[0].contents[0])[1:].replace(",",""))
        domestic_str = str(movie.find_all("td", class_="a-text-right mojo-field-type-money")[1].contents[0])[1:].replace(",","")
        if domestic_str:
            domestic = int(domestic_str)
        else:
            domestic = np.nan

        df = df.append({"Title": title, "Year": int(year[:-1]), "Worldwide": worldwide, "Domestic": domestic}, ignore_index=True)

In [5]:
df

                              Title  Year  Worldwide   Domestic
0            Mission: Impossible II  2000  546388105  215409889
1                         Gladiator  2000  460583960  187705427
2                         Cast Away  2000  429632142  233632142
3                   What Women Want  2000  374111707  182811707
4                          Dinosaur  2000  349822765  137748063
...                             ...   ...        ...        ...
12494  Jimi Hendrix Electric Church  2019       1818        NaN
12495                      Game Day  2019       1624       1624
12496           The Hours and Times  2019       1273       1273
12497              The Untold Story  2019        790        790
12498                    The Portal  2019        685        NaN

[12499 rows x 4 columns]

It works! :)